.pagination-content{
	float: left;
	li{
		float: left;
		border: 1px solid black;
		margin: 0 10px;
		padding: 5px 10px;
	}
	.disabled-btn{
		color: gray;
		border: 1px solid gray;
	}
	.btn{
		color: black;
	}
	.currentBtn{
		color: white;
		border: 1px solid blue;
	}
}
.select{
	float: left;
	width: 40px;
	height: 33px;
}
.total{
	float: left;
	margin: 0 10px;
	line-height: 33px;
}
.quicker-jump{
	float: left;
	margin: 0 10px;
	input{
		width: 40px;
		height: 33px;
		margin: 0 10px;
		border: none;
		font-size: 14px;
		text-align: center;
		line-height: 33px;
		color: #5c9faf;
		border-radius: 5px;
	}
	a{
		background: #40a9ff;
		color: white;
		border-color: 1px solid #40a9ff;
		padding: 5px 15px;
		border-radius: 5px;
		font-size: 14px;
		cursor: pointer;
	}
	a:hover{
		color: #40a9ff;
    background-color: #fff;
    border-color: 1px solid #40a9ff;
	}
}
.show-current-page{
	float: left;
	margin: 0 10px;
	i{
		color: #40a9ff;
		font-style: normal;
		line-height: 33px;
	}
}